@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  font-size: 14px;
  color: #262626;
  margin: 0;
  padding: 0;
}
a,
a:visited {
  color: rgba(0, 149, 246, 1);
  text-decoration: none;
  line-height: 28px;
}

.divider {
  font-size: 14px;
  line-height: 29px;
  margin: 0 8px;
  color: rgba(199, 199, 199, 1);
}

.site-header {
  height: 50px;
}

.top-nav {
  background: #ffffff;
  bottom: auto;
  position: fixed;
  width: 100%;
  top: 0;
}

.top-nav::after {
  position: absolute;
  background: rgba(219, 219, 219, 1);
  content: "";
  height: 1px;
  width: 100%;
  box-shadow: 1px 1px rgba(43, 43, 43, 0.2);
}

.navbar {
  z-index: 999;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

.site-footer {
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}

.site-footer a {
  color: #003569;
  font-size: 12px !important;
  line-height: 18px !important;
}

.site-footer ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 85%;
  margin: 0 auto;
}

.site-footer li {
  margin: 7px 16px;
}

.copyright {
  color: #999999;
}

.search {
  display: none;
}

.search input {
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  width: 215px;
  height: 28px;
  padding: 4px;
  border-radius: 3px;
  box-shadow: 0;
}

.search input::placeholder {
  text-align: center;
}

@media (min-width: 1024px) {
  .site-header {
    height: 80px;
  }

  .container {
    max-width: 975px;
    margin: 0 auto;
  }

  .navbar {
    padding: 25px 0;
  }

  .top-link {
    margin-left: 15px;
  }

  .search {
    display: block;
  }

  .divider {
    display: none;
  }

  .filled {
    background: #3897f0;
    border-radius: 4px;
    padding: 7px 10px;
    color: #ffffff !important;
  }

  .site-footer ul {
    justify-content: flex-start;
    margin-top: 38px;
    max-width: 100%;
  }

  .site-footer li:first-of-type {
    margin-left: 0;
  }

  .site-footer li:last-of-type {
    margin-right: 0;
  }

  .copyright {
    margin-top: 10px;
    margin-bottom: 38px;
    text-align: left;
  }
}

/* Jorge */

/* Franco */
