@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  font-size: 14px;
  color: #262626;
  margin: 0;
  padding: 0;
}
a,
a:visited {
  color: rgba(0, 149, 246, 1);
  text-decoration: none;
  line-height: 28px;
}
.divider {
  font-size: 14px;
  line-height: 29px;
  margin: 0 8px;
  color: rgba(199, 199, 199, 1);
}

.top-nav {
  bottom: auto;
  position: fixed;
  width: 100%;
  top: 0;
}

.main-header {
  height: 50px;
  background: #ffffff;
}

.top-nav::after {
  position: absolute;
  background: rgba(219, 219, 219, 1);
  content: "";
  height: 1px;
  width: 100%;
  box-shadow: 1px 1px rgba(43, 43, 43, 0.2);
}

.navbar {
  background: #ffffff;
  z-index: 999;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

/* Jorge */

/* Franco */

.gallery {
  padding: 0px 15.5vw;
}

.tags {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 27vw;
  margin: 0px auto;
  padding: 0px;
}
.tags li {
  text-align: center;
  width: 10vw;
}
.tags li:hover {
  border-top: 2px solid black;
}

.views {
  display: none;
}

.views li {
  list-style: none;
}

.photos {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0px;
  row-gap: 2vw;
  column-gap: 2vw;
}

.photos li {
  width: 21vw;
  height: 21vw;
  list-style: none;
}
.photos li a {
  width: 100%;
  height: 100%;
}
.photos li img {
  width: 100%;
}

footer nav ul {
  padding: 0px;
  list-style: none;
  grid-template-rows: auto auto auto;
  text-align: center;
}
footer nav ul li {
  display: inline;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #003569;
  justify-content: center;
}

footer nav ul li a:hover {
  background: #f8f8f8;
  border: 1px solid #a6a6a6;
  box-sizing: border-box;
  border-radius: 5px;
}

@media screen and (max-width: 500px) {
  .tags {
    display: none;
  }

  .gallery {
    padding: 0px;
  }
  .views {
    width: 100%;
    padding-top: 1vw;
    display: flex;
    justify-content: space-around;
  }

  .views a {
    line-height: 0px;
  }

  .views a:visited {
    line-height: 0px;
  }

  .views li {
    list-style: none;
  }

  .photos {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0px;
    row-gap: 0.1vw;
    column-gap: 0.1vw;
  }

  .photos li {
    width: 31.7vw;
    height: 31.7vw;
    list-style: none;
  }
  .photos li a {
    width: 100%;
    height: 100%;
  }
  .photos li img {
    width: 100%;
  }

  footer nav ul {
    padding: 0px;
    list-style: none;
    grid-template-rows: auto auto auto;
    text-align: center;
  }
  footer nav ul li {
    display: inline;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #003569;
    justify-content: center;
  }

  footer nav ul li a:hover {
    background: #f8f8f8;
    border: 1px solid #a6a6a6;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .copyright {
    position: absolute;
    left: 24vw;
  }
}
